<body>
  <div class="container">
    <h1>INFORMACION</h1>
    <p><i>Acerca de Nosotros:</i></p>
    <p>GYBA es una empresa digital dedicada a la promoción y publicidad de congresos a través de una página web diseñada
.</p>
    <p>Siendo una empresa innovadora permitirá a sus usuarios promover sus eventos de una forma inmediata, a bajo
      costo y optimizando recursos al máximo.</p>
    <p><i><strong>BIENVENIDOS A GYBA, BIENVENIDOS AL FUTURO</strong></i></p>
    <a href="home">Volver</a>
  </div>
</body>
