<body>
  <h1>CRONOGRAMA</h1>
  <div *ngFor="let item of respuesta">
    <div class="logo">
      <img src="../../../assets/img/person-logueo.jpg" alt="" />
    </div>
    <div class="container">
      <div class="tabla">
        <div class="titulo">
          <h2>{{ item.nombres }}</h2>
        </div>
        <div class="descripcion">
          <ul>
            <li><p>Tema:</p>{{ item.tema }}</li>
            <li><p>Resumen:</p>{{ item.resumen }}</li>
            <li><p>Email:</p>{{ item.email }}</li>
            <li><p>Fecha:</p>Por confirmar</li>
            <li><p>Hora:</p>Por confirmar</li>
            <li><p>Sede:</p>Por confirmar</li>
          </ul>
        </div>
        <div class="link">
          <a (click)="asistir()">Asistir</a>
        </div>
      </div>
    </div>
  </div>
  <div class="volver">
    <a href="home">Volver</a>
  </div>
</body>
